*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: #ffffff;
    font-family: cursive;
}

header {
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    column-gap: 100px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: #a8a7a7;
}

nav .navbar {
    display: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

main {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

.profile-paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    color: #a8a7a7;
    font-size: 20px;
}

.name {
    color: black;
}

img {
    border-radius: 50%;
}

.icons {
    color: black;
    cursor: pointer;
    padding-top: 10%;
}

@media (max-width: 500px) {
   
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
    
 body {
    height: 100vh;
    background-color: #ffffff;
    font-family: cursive;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display: none;
}


nav .navbar {
    display: block;
    color: black;
    padding-top: 20%;
    cursor: pointer;
}

main {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}

main img {
    border-radius: 50%;
    width: 50%;
}

.profile-paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    color: #a8a7a7;
    font-size: 20px;
    padding-top: 15%;
}


}